<html>

<head>
	<title>WORKING RESIDENT EMPLOYMENT</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet"></head>

<body style="font-family: 'Roboto', sans-serif; ">
	<table cellpadding="2" style="width:100%; text-align:center;  margin-bottom:5px; margin-top: 20px; padding-left: 40px;padding-right: 40px;">
		<tr>
			<td>
				<img src="http://127.0.0.1:8000/static/images/visa/logo.png" width="170"/>
				<h2 style="letter-spacing: 1px; font-size: 24px;">IMMIGRATION AND CITIZENSHIP SERVICE AUTHORITY</h2> 
				<h3 style="letter-spacing: 1px; font-size: 18px;font-weight: bold;">WORKING RESIDENT EMPLOYMENT<br>
					LONG TERM / SHORT TERM ENTRY<br>
					PERMIT CHECKLIST</h3></td>
		</tr>
	</table>


	<table cellpadding="0" style="width:100%; margin-bottom:10px; padding: 0 100px;">
		<tr>
			<td style="width:140px">
				<p style="font-size: 16px; display: flex;margin-bottom:0px">Name of Employer</p>
			</td>
			<td>
				<p style="font-size: 16px;margin-bottom:0;padding: 0px 10px; border-bottom: 1px solid black; ">{{json_data.name_of_employer}}</p>
			</td>
			<td style="width:50px">
				<p style="font-size: 16px;margin-bottom:0px">Date</p>
			</td>
			<td>
				<p style="font-size: 16px;margin-bottom:0;padding: 0px 10px; border-bottom: 1px solid black; "> {{json_data.date_work_resident.strftime('%d-%b-%Y')}} </p>
			</td>
		</tr>
	</table>
	<table cellpadding="0" style="width:100%; margin-bottom:10px; padding: 0 100px;">
		<tr>
			<td style="width:140px">
				<p style="font-size: 16px; display: flex;margin-bottom:0px">Name of Applicant</p>
				<p style="font-size: 14px; margin-bottom: 0;margin-top: 5px;">&nbsp;</p>
			</td>
			<td>
				<p style="font-size: 16px;margin-bottom:0;padding: 0px 10px; border-bottom: 1px solid black; "> {{json_data.name_of_applicant_surname}}</p>
				<p style="font-size: 14px; margin-bottom: 0;margin-top: 5px;"> (surname)</p>
			</td>
			<td style="width:15px">
				
			</td>
			<td>
				<p style="font-size: 16px;margin-bottom:0;padding: 0px 10px; border-bottom: 1px solid black; ">{{json_data.name_of_applicant_given_name}} </p>
				<p style="font-size: 14px; margin-bottom: 0;margin-top: 5px;"> (given names)</p>
			</td>
		</tr>
	</table>

	<table cellpadding="0" style="width:100%; margin-bottom:10px; padding: 0 100px;">
		<tr>
			<td style="width:140px">
				<p style="font-size: 16px; display: flex;margin-bottom:0px">Contact person</p>
			</td>
			<td>
				<p style="font-size: 16px;margin-bottom:0;padding: 0px 10px; border-bottom: 1px solid black; ">{{json_data.contact_person_telephone}}</p>
			</td>
			<td style="width:30px">
				<p style="font-size: 16px; display: flex;margin-bottom:0px">Tel#</p>
			</td>
			<td>
				<p style="font-size: 16px;margin-bottom:0;padding: 0px 10px; border-bottom: 1px solid black; "> {{json_data.contact_person_office_phone}} </p>
			</td>
			<td style="width:30px">
				<p style="font-size: 16px; display: flex;margin-bottom:0px">(off)</p>
			</td>
			<td>
				<p style="font-size: 16px;margin-bottom:0;padding: 0px 10px; border-bottom: 1px solid black; "> {{json_data.contact_person_mobile}} </p>
			</td>
			<td style="width:30px">
				<p style="font-size: 16px; display: flex;margin-bottom:0px">(mob)</p>
			</td>
		</tr>
	</table>

	<table cellpadding="0" style="width:100%; margin-bottom:10px; padding: 0 100px;">
		<tr>
			<td style="width:140px">
				<p style="font-size: 16px; display: flex;margin-bottom:0px">Email# </p>
			</td>
			<td>
				<p style="font-size: 16px;margin-bottom:0;padding: 0px 10px; border-bottom: 1px solid black; "> {{json_data.applicant_email}} </p>
			</td>
			<td style="width:30px">
				<p style="font-size: 16px; display: flex;margin-bottom:0px">Fax#</p>
			</td>
			<td style="width:200px">
				<p style="font-size: 16px;margin-bottom:0;padding: 0px 10px; border-bottom: 1px solid black; "> {{json_data.fax}}</p>
			</td>			
			<td style="width:30px">
				<p style="font-size: 16px; display: flex;margin-bottom:0px"></p>
			</td>
		</tr>
	</table>


	<table cellpadding="0" style="width:100%; margin-bottom:10px; padding: 0 100px;">
		<tr>
			<td style="width:400px">
				<p style="font-size: 16px; display: flex;margin-bottom:0px">Do you consent to communication by email? </p>
			</td>
			<td style="width: 30px;">
                {% if 'Y' in json_data.email_communication %}
                <img src="http://127.0.0.1:8000/static/images/visa/select-checkbox.png"  width="28"/>
                {% else %}
                  <img src="http://127.0.0.1:8000/static/images/visa/checkbox.png"  width="28" />
                {% endif %}
			</td>
			<td style="width:50px">
				<p style="font-size: 16px; display: flex;margin-bottom:0px">Yes</p>
			</td>
			<td style="width: 30px;">
                {% if 'N' in json_data.email_communication %}
                <img src="http://127.0.0.1:8000/static/images/visa/select-checkbox.png"  width="28"/>
                {% else %}
                <img src="http://127.0.0.1:8000/static/images/visa/checkbox.png"  width="28" />
                {% endif %}
			</td>
			<td style="width:50px">
				<p style="font-size: 16px; display: flex;margin-bottom:0px">No</p>
			</td>
			<td>
				<p>&nbsp;</p>
			</td>
		</tr>
	</table>
	<p style="font-size: 16px;margin-bottom:0;padding: 0px 100px; "> Please complete the following checklist for the application;</p>


	<table cellpadding="0" style="width:100%; margin-bottom:10px; padding: 0 100px;">
		<tr style=" align-items: flex-start; display: inline-flex;">
			<td style="width: 550px;">
				<p style="font-size: 16px; display: flex;margin-bottom:10px">Check [X] if completed. </p>
				<table cellpadding="0" cellspacing="0" style="width:100%; margin-bottom:20px;padding-left: 20px;">
					<tr style=" align-items: flex-start; display: flex;">
						<td style="width: 50px;">
                                {% if '3406' in json_data.work_resident_checklist %}
                                  <img src="http://127.0.0.1:8000/static/images/visa/select-checkbox.png"  width="28"/>
                                  {% else %}
                                  <img src="http://127.0.0.1:8000/static/images/visa/checkbox.png"  width="28" />
                                  {% endif %}
						</td>
					
						<td style="width: 22px;">
							<p style="font-size: 16px; display: flex;margin-bottom:10px;margin-top:0px;">1.</p> 
							<p style="font-size: 14px; margin-bottom: 0;margin-top: 5px;">&nbsp; </p>
						</td>
						<td style="">
							<p style="font-size: 16px; display: flex;margin-bottom:0px;margin-top: 0;">Sponsorship letter from the employer. </p> 
							<p style="font-size: 14px; margin-bottom: 10px;margin-top: 5px;">(refer notes on the next page) </p>
						</td>
					</tr>
					<tr style=" align-items: flex-start; display: flex;">
						<td style="width: 50px;">
                            {% if '3408' in json_data.work_resident_checklist %}
                              <img src="http://127.0.0.1:8000/static/images/visa/select-checkbox.png"  width="28"/>
                              {% else %}
                              <img src="http://127.0.0.1:8000/static/images/visa/checkbox.png"  width="28" />
                              {% endif %}
                    </td>
						
						<td style="width: 22px;">
							<p style="font-size: 16px; display: flex;margin-bottom:10px;margin-top:0px;">2.</p> 
						</td>
						<td style="">
							<p style="font-size: 16px; display: flex;margin-bottom:20px;margin-top: 0;">Receipt of Migration Service Fee (MSF).</p> 
						</td>
					</tr>
					<tr style=" align-items: flex-start; display: flex;">
						<td style="width: 50px;">
                            {% if '3410' in json_data.work_resident_checklist %}
                              <img src="http://127.0.0.1:8000/static/images/visa/select-checkbox.png"  width="28"/>
                              {% else %}
                              <img src="http://127.0.0.1:8000/static/images/visa/checkbox.png"  width="28" />
                              {% endif %}
                    </td>
						
						<td style="width: 22px;">
							<p style="font-size: 16px; display: flex;margin-bottom:10px;margin-top:0px;">3.</p> 
							<p style="font-size: 14px; margin-bottom: 0;margin-top: 5px;">&nbsp; </p>
						</td>
						<td style="">
							<p style="font-size: 16px; display: flex;margin-bottom:10px;margin-top: 0;">Copy of Work Permit Approval Letter from Department of<br>
								Labour and Industrial Relations (DLIR).  </p> 
						</td>
					</tr>
					<tr style=" align-items: flex-start; display: flex;">
						<td style="width: 50px;">
                            {% if '3412' in json_data.work_resident_checklist %}
                              <img src="http://127.0.0.1:8000/static/images/visa/select-checkbox.png"  width="28"/>
                              {% else %}
                              <img src="http://127.0.0.1:8000/static/images/visa/checkbox.png"  width="28" />
                              {% endif %}
                    </td>
						
						<td style="width: 22px;">
							<p style="font-size: 16px; display: flex;margin-bottom:10px;margin-top:0px;">4.</p> 
						</td>
						<td style="">
							<p style="font-size: 16px; display: flex;margin-bottom:20px;margin-top: 0;">Maintenance Guarantee Bond (original).  </p> 
						</td>
					</tr>
					<tr style=" align-items: flex-start; display: flex;">
						<td style="width: 50px;">
                            {% if '3414' in json_data.work_resident_checklist %}
                              <img src="http://127.0.0.1:8000/static/images/visa/select-checkbox.png"  width="28"/>
                              {% else %}
                              <img src="http://127.0.0.1:8000/static/images/visa/checkbox.png"  width="28" />
                              {% endif %}
                    </td>
					
						<td style="width: 22px;">
							<p style="font-size: 16px; display: flex;margin-bottom:10px;margin-top:0px;">5.</p> 
						</td>
						<td style="">
							<p style="font-size: 16px; display: flex;margin-bottom:20px;margin-top: 0;">Copy of bio-data page of passport. </p> 
						</td>
					</tr>
					<tr style=" align-items: flex-start; display: flex;">
						<td style="width: 50px;">
                            {% if '3416' in json_data.work_resident_checklist %}
                              <img src="http://127.0.0.1:8000/static/images/visa/select-checkbox.png"  width="28"/>
                              {% else %}
                              <img src="http://127.0.0.1:8000/static/images/visa/checkbox.png"  width="28" />
                              {% endif %}
                    </td>
					
						<td style="width: 22px;">
							<p style="font-size: 16px; display: flex;margin-bottom:10px;margin-top:0px;">6.</p> 
						</td>
						<td style="">
							<p style="font-size: 16px; display: flex;margin-bottom:20px;margin-top: 0;">Copy of IPA certifications (Form 4 & Form 5) </p> 
						</td>
					</tr>
					<tr style=" align-items: flex-start; display: flex;">
						<td style="width: 50px;">
                            {% if '3418' in json_data.work_resident_checklist %}
                              <img src="http://127.0.0.1:8000/static/images/visa/select-checkbox.png"  width="28"/>
                              {% else %}
                              <img src="http://127.0.0.1:8000/static/images/visa/checkbox.png"  width="28" />
                              {% endif %}
                    </td>
						
						<td style="width: 22px;">
							<p style="font-size: 16px; display: flex;margin-bottom:10px;margin-top:0px;">7.</p> 
						</td>
						<td style="">
							<p style="font-size: 16px; display: flex;margin-bottom:20px;margin-top: 0;">Copy of Employment Contract </p> 
						</td>
					</tr>
					<tr style=" align-items: flex-start; display: flex;">
						<td style="width: 50px;">
                            {% if '3420' in json_data.work_resident_checklist %}
                              <img src="http://127.0.0.1:8000/static/images/visa/select-checkbox.png"  width="28"/>
                              {% else %}
                              <img src="http://127.0.0.1:8000/static/images/visa/checkbox.png"  width="28" />
                              {% endif %}
                    </td>
					
						<td style="width: 22px;">
							<p style="font-size: 16px; display: flex;margin-bottom:10px;margin-top:0px;">8.</p> 
						</td>
						<td style="">
							<p style="font-size: 16px; display: flex;margin-bottom:20px;margin-top: 0;">Copy of IELTS Cetificate &nbsp;&nbsp; <span style="font-size: 14px; "> (if applicable)</span> </p> 
						</td>
					</tr>
					<tr style=" align-items: flex-start; display: flex;">
						<td style="width: 50px;">
                            {% if'3422' in json_data.work_resident_checklist %}
                              <img src="http://127.0.0.1:8000/static/images/visa/select-checkbox.png"  width="28"/>
                              {% else %}
                              <img src="http://127.0.0.1:8000/static/images/visa/checkbox.png"  width="28" />
                              {% endif %}
                    </td>
						
						<td style="width: 22px;">
							<p style="font-size: 16px; display: flex;margin-bottom:10px;margin-top:0px;">9.</p> 
						</td>
						<td style="">
							<p style="font-size: 16px; display: flex;margin-bottom:20px;margin-top: 0;">Copy of Curriculum Vitae (CV) </p> 
						</td>
					</tr>
					<tr style=" align-items: flex-start; display: flex;">
						<td style="width: 50px;">
                            {% if'3424' in json_data.work_resident_checklist %}
                              <img src="http://127.0.0.1:8000/static/images/visa/select-checkbox.png"  width="28"/>
                              {% else %}
                              <img src="http://127.0.0.1:8000/static/images/visa/checkbox.png"  width="28" />
                              {% endif %}
                    </td>
					
						<td style="width: 22px;">
							<p style="font-size: 16px; display: flex;margin-bottom:10px;margin-top:0px;">10.</p> 
						</td>
						<td style="">
							<p style="font-size: 16px; display: flex;margin-bottom:20px;margin-top: 0;">Copy of Residency Entry Permit. &nbsp;&nbsp; <span style="font-size: 14px; "> (refer notes on the next page)</span> </p> 
						</td>
					</tr>
				</table>
				
			</td>
			<td style="width: 160px;">
				<p style="font-size: 16px; display: flex;margin-bottom:0px;font-weight: bold;">Office use only</p>
				<table cellpadding="0" cellspacing="0" style="width:100%; margin-bottom:20px">
					<tr>
						<td style="border: 1px solid #000; width: 40px;height: 45px;" >
							&nbsp;<br>
							&nbsp;							
						</td>
						<td style="border: 1px solid #000;">
							&nbsp;
						</td>
					</tr>
					<tr>
						<td style="border: 1px solid #000; width: 40px;height: 37px;" >
							&nbsp;<br>					
						</td>
						<td style="border: 1px solid #000;">
							&nbsp;
						</td>
					</tr>
					<tr>
						<td style="border: 1px solid #000; width: 40px;height: 44px;" >
							&nbsp;<br>					
						</td>
						<td style="border: 1px solid #000;">
							&nbsp;
						</td>
					</tr>
					<tr>
						<td style="border: 1px solid #000; width: 40px;height: 37px;" >
							&nbsp;<br>						
						</td>
						<td style="border: 1px solid #000;">
							&nbsp;
						</td>
					</tr>
					<tr>
						<td style="border: 1px solid #000; width: 40px;height: 37px;" >
							&nbsp;<br>					
						</td>
						<td style="border: 1px solid #000;">
							&nbsp;
						</td>
					</tr>
					<tr>
						<td style="border: 1px solid #000; width: 40px;height: 37px;" >
							&nbsp;<br>					
						</td>
						<td style="border: 1px solid #000;">
							&nbsp;
						</td>
					</tr>
					<tr>
						<td style="border: 1px solid #000; width: 40px;height: 37px;" >
							&nbsp;<br>					
						</td>
						<td style="border: 1px solid #000;">
							&nbsp;
						</td>
					</tr>
					<tr>
						<td style="border: 1px solid #000; width: 40px;height: 37px;" >
							&nbsp;<br>					
						</td>
						<td style="border: 1px solid #000;">
							&nbsp;
						</td>
					</tr>
					<tr>
						<td style="border: 1px solid #000; width: 40px;height: 37px;" >
							&nbsp;<br>					
						</td>
						<td style="border: 1px solid #000;">
							&nbsp;
						</td>
					</tr>
					<tr>
						<td style="border: 1px solid #000; width: 40px;height: 37px;" >
							&nbsp;<br>					
						</td>
						<td style="border: 1px solid #000;">
							&nbsp;
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>

	<p style="font-size: 16px;margin-bottom:10px;padding: 0px 100px; "> <span style="font-weight:700"> Note:</span> it is a criminal offence to provide false or misleading documents or information in an entry permit
		application.</p>

	<h4  style="letter-spacing: 1px; font-size: 18px;padding: 0 120px;">Office Use Only</h4>
	<table cellpadding="0" style="width:100%; margin-bottom:50px; padding: 0 100px; ">
		<tr>			
			<td style="border: 1px solid #000; padding: 10px;">
				<table cellpadding="0" style="width:100%; margin-bottom:10px;  ">
					<tr>			
						<td style="width: 200px;">
							
							<p style="font-size: 16px; display: flex;margin-bottom:0px">Date received</p>
						</td>
						<td style="width: 120px;">
							<p style="font-size: 13px;width:100%;border-bottom: 1.5px solid;line-height:1;letter-spacing:2px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;</p>
						</td>
						<td>
							&nbsp;
						</td>
						<td style="width: 120px;">
							<p style="font-size: 16px; display: flex;margin-bottom:0px">Custody / MSF #</p>
							
						</td>
						<td style="width: 140px;">
							<p style="font-size: 16px;margin-bottom:0;padding: 0px 10px; border-bottom: 1px solid black; "> &nbsp; </p>
						</td>
					</tr>
				</table>
				<table cellpadding="0" style="width:100%; margin-bottom:10px;  ">
					<tr>			
						<td style="width: 200px;">
							<p style="font-size: 16px; display: flex;margin-bottom:0px">Date processed </p>
							
						</td>
						<td style="width: 120px;">
							<p style="font-size: 13px;width:100%;border-bottom: 1.5px solid;line-height:1;letter-spacing:2px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;</p>
						</td>
						<td>
							&nbsp;
						</td>
						<td style="width: 110px;">
							<p style="font-size: 16px; display: flex;margin-bottom:0px">Issuing Officer  </p>
							
						</td>
						<td style="width: 150px;">
							<p style="font-size: 16px;margin-bottom:0;padding: 0px 10px; border-bottom: 1px solid black; "> &nbsp; </p>
						</td>
					</tr>
				</table>
				<table cellpadding="0" style="width:100%; margin-bottom:10px;  ">
					<tr>			
						<td style="width: 200px;">
							<p style="font-size: 16px; display: flex;margin-bottom:0px">Date Of Transmission</p>
							
						</td>
						<td style="width: 120px;">
							<p style="font-size: 13px;width:100%;border-bottom: 1.5px solid;line-height:1;letter-spacing:2px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;</p>
						</td>
						<td style="width:100px;">
							<p style="font-size: 16px; display: flex;margin-bottom:0px">Destination</p>
							
						</td>
						<td style="width: 120px;">
							<p style="font-size: 16px;margin-bottom:0;padding: 0px 10px; border-bottom: 1px solid black; "> &nbsp; </p>
						</td>
						
						<td style="width: 50px;">
							<p style="font-size: 16px; display: flex;margin-bottom:0px">VARN# </p>
							
						</td>
						<td style="width: 150px;">
							<p style="font-size: 16px;margin-bottom:0;padding: 0px 10px; border-bottom: 1px solid black; "> &nbsp; </p>
						</td>
						<td>
							&nbsp;
						</td>
					</tr>
				</table>
				<table cellpadding="0" style="width:100%; margin-bottom:10px;  ">
					<tr>			
						<td style="width: 210px;">
							<p style="font-size: 16px; display: flex;margin-bottom:0px">Verification of transmission</p>
							
						</td>
						<td style="width: 100px;">
							<p style="font-size: 16px; display: flex;margin-bottom:0px">(Yes / No) </p>
						</td>
						<td style="width:150px;">
							<p style="font-size: 16px; display: flex;margin-bottom:0px">Processing Officer </p>
							
						</td>
						<td >
							<p style="font-size: 16px;margin-bottom:0;padding: 0px 10px; border-bottom: 1px solid black; "> &nbsp; </p>
						</td>
						
						
					</tr>
				</table>
			</td>
		</tr>
	</table>

	<!-- page 2 -->

	<p style="font-size: 16px;margin-bottom:10px;padding: 0px 100px; font-weight:700;margin-top: 40px;padding-top: 55px;">  Notes for question 1</p>

	<p style="font-size: 16px;margin-bottom:10px;padding: 0px 100px;"> The Sponsorship letter from the employer must state;</p>
	<table cellpadding="0" style="width:100%; margin-bottom:10px; padding: 0 100px;">
		<tr>
			<td style="width: 40px;">
				<p style="font-size: 16px; margin-top: 5px; margin-bottom:0px;text-align: center;">a. </p>
			</td>
			<td >
				<p style="font-size: 16px; margin-top: 5px; display: flex;margin-bottom:0px">the applicant&apos;s surname and given name</p>
			</td>
		</tr>
		<tr>
			<td style="width: 40px;">
				<p style="font-size: 16px; margin-top: 5px; margin-bottom:0px;text-align: center;">b. </p>
			</td>
			<td >
				<p style="font-size: 16px; margin-top: 5px; display: flex;margin-bottom:0px">the position offered.</p>
			</td>
		</tr>
		<tr>
			<td style="width: 40px;">
				<p style="font-size: 16px; margin-top: 5px; margin-bottom:0px;text-align: center;">c. </p>
			</td>
			<td >
				<p style="font-size: 16px; margin-top: 5px; display: flex;margin-bottom:0px">the Work Permit approval number & expiration date</p>
			</td>
		</tr>
		<tr>
			<td style="width: 40px;">
				<p style="font-size: 16px; margin-top: 5px; margin-bottom:0px;text-align: center;">d. </p>
			</td>
			<td >
				<p style="font-size: 16px; margin-top: 5px; display: flex;margin-bottom:0px">the Passport number and expiry date.</p>
			</td>
		</tr>
		<tr>
			<td style="width: 40px;">
				<p style="font-size: 16px; margin-top: 5px; margin-bottom:0px;text-align: center;">e. </p>
			</td>
			<td >
				<p style="font-size: 16px; margin-top: 5px; display: flex;margin-bottom:0px">the PNG&apos;s overseas mission to collect the Employment Entry Visa.</p>
			</td>
		</tr>
		<tr>
			<td style="width: 40px;">
				<p style="font-size: 16px; margin-top: 5px; margin-bottom:0px;text-align: center;">f.<br><br> </p>
			</td>
			<td >
				<p style="font-size: 16px; margin-top: 5px; display: flex;margin-bottom:0px">that the employer to provide guarantee of accommodation and welfare with the<br>
					eventual repatriation of the employee to country of origin.</p>
			</td>
		</tr>
	</table>

	<p style="font-size: 16px;margin-bottom:10px;padding: 0px 100px; font-weight:700">Notes for question 10</p>

	<p style="font-size: 16px;margin-bottom:10px;padding: 0px 100px;line-height: 1.5;">Please provide a copy of foreign Residency Entry Permit if you want the PNG Entry<br>
		Permit/Visa to be issued in a foreign country other than the country of nationality of the<br>
		applicant. To qualify for this provision, the applicant must have resided in the foreign country<br>
		for <span style="font-weight:700">SIX</span> months or more.</p>

	<p style="font-size: 16px;margin-bottom:10px;padding: 0px 100px;line-height: 1.5;">If the residency in the foreign country is less than <span style="font-weight:700"> SIX</span> months, the applicant can <span style="font-weight:700">ONLY</span><br>
		obtain the PNG Entry Permit/Visa from the country of nationality. </p>
	
	
</body>

</html>