{% load staticfiles %} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Invoice</title>
    <link rel="stylesheet" href="/static/css/payment_receipt.css">
    <link rel="stylesheet" href="/static/css/client_verification_css/lobibox.css">
    <!-- <li nk href="/static/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="/static/css/client_verification_css/responsive.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
</head>
<body>
    <table style="width:100%; text-align:right">
    <tr>
    <td id="company_logo">
    </td>
    </tr>
    </table>
    <div class="container">
        <div class="finac_header">
                <p>FINAC</p>
        </div>
        <div class="card">
            <h3 style="color: green;">Upload Payment Receipt</h3>
            <div class="invoice_container">
                <p>
                <p>Invoice No. </p>
                    <input id="invoice_number" value="" name="invoice_number" type="text" class="invoice_details" readonly>
                </p>
                <!-- <p style="width: 100%">Company Name
                    <input id="mycompany_name" value="" name="mycompany_name" type="text" class="invoice_details" readonly>
                </p>
                <p style="width: 100%">Customer Name
                    <input id="customer_contact" value="" name="customer_contact" type="text" class="invoice_details" readonly>
                </p> -->
                <p style="width: 100%">Customer Company
                    <input id="customer_company" value="" name="customer_company" type="text" class="invoice_details" readonly>
                </p>
                <p style="width: 100%">Amount
                    <input id="amount" value="" name="amount" type="text" class="invoice_details" readonly>
                </p>
                <p style="width: 100%">Invoice Date
                    <input id="invoice_date" value="" name="invoice_date" type="text" class="invoice_details" readonly>
                </p>
                <p style="width: 100%">Invoice Purpose
                    <textarea id="for_details" name="for_details" class="invoice_details" rows="4" cols="50" readonly></textarea>
                </p>
            </div>
            <div class="drop_box" id="drop_box">
                <header>
                    <h4>Upload Receipt here</h4>
                </header>
                <p>File Supported: PDF</p>
                <input type="file" hidden accept=".pdf" id="payment_recipt" style="display:none;">
                <button id="choosenfile-btn" class="btn">Choose File</button>
            </div>
        </div>
    </div>
</body>
</html>


{%block scripts%}

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="/static/dev/js/service_desk/dist/bootstrap.bundle.min.js"></script>
    <script src="/static/dev/js/service_desk/dist/jquery.min.js"></script>
    <script src="/static/dev/js/service_desk/dist/lobibox.js"></script>
    <script type="text/javascript" src="/static/dev/js/service_desk/dist/canvasjs.min.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="/static/dev/js/bitrix_spa/payment_receipt.js"></script>

{%endblock%}
